/* avis.css
*  @author  : Alizéa LEBARON, Sébastien CHAMPVILLARD
*  @since   : 27/03/2024
*  @version : V1.0.3 - 02/04/2024
*/

/* ---------------------------------------------------- */
/*               Modification de la fiche               */
/* ---------------------------------------------------- */

#modifier 
{
    width: 250mm;
    margin: 0 auto;
	margin-top: 2vh;
    padding: 10px;
	border: 1px dotted black;
    background-color: #ffffff;
}

.modifTitre
{
	text-align: center;
}

form 
{
    display: flex;
    flex-direction: column;
}

label 
{
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="file"] 
{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    font-size: 16px;
    width: 98%;
	margin-bottom: 10px;
}

input[type="submit"] 
{
    background-color: #6b0000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
	transition: ease-in-out 0.5s;
}

input[type="submit"]:hover 
{
    background-color: #3f0000;
}

/* ---------------------------------------------------- */
/*                  Aperçu de la fiche                  */
/* ---------------------------------------------------- */

.A4
{
	margin: auto;
	margin-top: 2vh;
	height: 297mm;
	width: 210mm;
	border: 1px dotted black;
	padding: 5%;
}

hr
{
	margin-top: 0%;
}

.refTD
{
	width: 250px;
}

.GrefTD
{
	width: 650px;
}

table, th, td 
{
	border: 1px solid black;
	border-collapse: collapse;
	font-size: small;
}

.tdGrand
{
	min-width: 80px;
}

.tdPetit
{
	min-width: 60px;
}

.left_logo
{
	float: left;
	width: 100px;
	height: 100px;
}

.right_logo
{
	padding-left: 30px;
	float: right;
	width: 100px;
	height: 100px;
}

.drt
{
	margin-bottom: 5px;
	text-align: right;
}

.signature
{
	margin: 0px;
	float: right;
	width: 150px;
	height: 150px;
}

.logo
{
	max-width: 100%; 
    max-height: 100%;
}

.titre
{
	text-align: center;
	
}

h3,h5
{
	margin-bottom: 0%;
}

.fantom
{
	border: none;
	min-width: 250px;
}

.grisG
{
	background-color: rgb(221, 218, 218);
	font-weight: bold;
	text-align: center;
}

.grisP
{
		background-color: rgb(221, 218, 218);
		text-align: center;
}


.txtCent{
	text-align: center;
}

.tableAvis{
	text-align: center;
	
}

.BUT12{
	min-width: 525px;
}

