/** header.css
* @author  : Justine BONDU
* @since   : 29/03/2024
* @version : V1.0.1 - 29/03/2024
*/

/* -------------------------------------------------------- */
/* ---------------- Initialisation de base ---------------- */
/* -------------------------------------------------------- */

html, body
{
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

/* -------------------------------------------------------- */
/*        commun au deux page: importer et exporter         */
/* -------------------------------------------------------- */

.titreP{
	margin: 0;
	padding: 0;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.encad{
	background-color: rgb(147, 142, 150);
	border: 1px solid black;
	width: 50%;
	font-size: 20px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
}

.Valid:hover{
	background-color: #8f0202;
	cursor: pointer;
}

.Valid{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 50px;
	font-size: 20px;
	color: #f59031;
	background-color: #5a0101;
	border: 1px solid #441212;
	transition: 1s ease;
}

/* -------------------------------------------------------- */
/*                     tableau exporter                     */
/* -------------------------------------------------------- */

table{
	width: 100%;
	border: 5px solid #574444;
	border-collapse: collapse;
}
table th{
	border: 5px solid #574444;
	background-color: rgb(124, 118, 126);
}
table td{
	border: 2px solid #574444;
	background-color: rgb(147, 142, 150);
}

.case{
	width: 17%;
}

.caseC {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.caseC:checked {
	opacity: 0.5; /* Opacité à 50% pour les cases cochées */
}
.checked {
	background-color: #5a0101; /* Fond en orange pour la case cochée */
}

