/** header.css
 * @author  : Justine BONDU, Alizéa LEBARON
 * @since   : 29/03/2024
 * @version : V1.0.1 - 03/04/2024
 */

/* -------------------------------------------------------- */
/* ---------------- Initialisation de base ---------------- */
/* -------------------------------------------------------- */

html, body
{
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------- */
/*        commun au deux page: importer et exporter         */
/* -------------------------------------------------------- */

h1
{
    margin: 3vh 0vh 0vh 0vh;
    padding: 0;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.encad
{
    background-color: rgb(252, 209, 160);
    border: 1px solid black;
    width: 50%;
    font-size: 20px;
    margin: 10vh auto 20vh auto;
    padding: 5vh;

}

.Valid:hover
{
    color: #f59031;
    background-color: #8f0202;
    cursor: pointer;
}

.Valid
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 50px;
    font-size: 20px;
    color: #fbca9b;
    background-color: #5a0101;
    border: 1px solid #441212;
    transition: 1s ease;
}

p
{
    margin: 0px;
    text-align: justify;
}

/* -------------------------------------------------------- */
/*                     tableau exporter                     */
/* -------------------------------------------------------- */

table
{
    width: 100%;
    border: 5px solid #e08c0d;
    border-collapse: collapse;
}

table th
{
    border: 5px solid #e08c0d;
    background-color: #5a0101;
    color: aliceblue;
}

table td
{
    border: 3px solid #e08c0d;
    background-color: rgb(238, 182, 119);;
}

.case
{
    width: 17%;
}

.caseC 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

caseC:checked {
	opacity: 0.5; /* Opacité à 50% pour les cases cochées */
}
.checked {
	background-color: #5a0101; /* Fond en orange pour la case cochée */
}

.caseInnac{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}