html, body{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
    background-color: gray;
    position:fixed;
        top: 0; 
        left: 0;
        right: 0;
        height: 8vh ;
}

.ligne{
    position:fixed;
        top: 7vh; 
        left: 0;
        right: 0;
    border:2px solid black; 
}

.imp{
    position: fixed;
    left: 0;
}
.Exp{
    position: fixed;
    left: 15%;
}
.avis{
    position: fixed;
    left: 35%;
}
.quiter{
    position: fixed;
    right: 0;
}

header img{
    height: 75px;
    width: 75px;
}

.corp{/* sert a mettre le corp de page */
    margin-left: 17%;
    margin-top: 10vh;
}